<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ejemplo.perfectmarket_tiendavirtual">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <tools:validation testUrl="https://servidorperfectmarket.000webhostapp.com/conexion_a_perfect_market/buscar_producto_pm.php" />
            <tools:validation testUrl="https://servidorperfectmarket.000webhostapp.com/conexion_a_perfect_market/buscar_producto_pm.php" />
            <tools:validation testUrl="https://servidorperfectmarket.000webhostapp.com/conexion_a_perfect_market/buscar_producto_cesta.php" />
            <tools:validation testUrl="https://servidorperfectmarket.000webhostapp.com/conexion_a_perfect_market/buscar_producto_cesta.php" />
            <tools:validation testUrl="https://servidorperfectmarket.000webhostapp.com/conexion_a_perfect_market/buscar_producto_cesta.php" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="servidorperfectmarket.000webhostapp.com"
                    android:pathPrefix="/conexion_a_perfect_market" />
            </intent-filter>
        </activity>
    </application>

</manifest>